 
  body, html {
    height: 100%;
    margin: 0;
    font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
    background-color: white; /* Adjust the background color as needed */
    color: #333;
    overflow: auto;
    
    
  }
  .main-header{
    margin-top: 30px;
    font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
  }
  .div-3 {
    color: #000;
    margin-top: 30px;
    width: 746px;
    font-size: 16px;

  }
  .div-3-ds {
    color: #000;
    margin-bottom: 30px;
    width: 746px;
    font-size: 16px;

  }



  p{
    font-size: 12px;
    margin: 10px;
  }
  
/*   
.welcome-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
    background-color:#E7E9EA;
  }
   */
 
   .next-button2 {
    background-color: #6921F0;
    color: #fff;
    margin-top: 10px;
    width: 120px;
    height: 40px;
    border-radius: 1px;
    border-color: #230A50;

    
    
  }
  .next-button2:hover{
    background-color: #230A50;
  }

  .next-button3 {
    background-color: #230A50;
    color: #fff;
    margin-top: 10px;
    /* width: 120px; */
    height: 40px;
    border-radius: 1px;
    border-color: #230A50;

    
    
  }
  .next-button3:hover{
    background-color: #6921F0;
  }


  .next-button4 {
    background-color: #6921F0;
    color: #ffffff;
    margin-top: 10px;
    /* width: 120px; */
    /* height: 40px; */
    border-radius: 1px;
    border-color: #230A50;

    
    
  }
  .next-button4:hover{
    background-color: #6921F0;
  }


  .next-button5 {
    
    color: #000000;
    margin-top: 10px;
    /* width: 120px; */
    /* height: 40px; */
    border-radius: 1px;
    /* font-size: 16px; */
    border-color: #230A50;

    
    
  }
  .next-button5:hover{
    background-color: #6921F0;
    color:white
  }

  .next-button {
    background-color: #6921F0;
    color: #fff;
    margin-top: 60px;
    width: 120px;
    height: 40px;
    border-radius: 1px;
    border-color: #230A50;
    align-items: center;

    
    
  }
  .next-button:hover{
    background-color: #230A50;
  }
 .maincon{
  align-items: center;
  justify-content: center;
  display: grid;
  overflow: auto;
 }
  /* Styles for the catalog creation container */
  .catalog-creation {
    max-width: 80vw;
    /* Adjust the width as needed */
    margin: 40px auto;
    padding: 20px;
    flex-direction: row;
    background-color: #fff; /* Card background */
    border-radius: 8px; /* Card corner rounding */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Card shadow */
    text-align: center;
    padding: 20px;
  }
  
  /* Title and step indicator styles */
  .catalog-creation h2 {
    color: #333;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .catalog-creation p {
    color: #666;
    margin: 5px 0 20px;
  }
  .progress{
    font-style: bold;
    font-size: 12px;
    padding: 20px;
  }
  .file-sources {
    display: flex; /* Use flexbox instead of grid */
    justify-content: space-between; /* Distribute space between cards */
    align-items: stretch; /* Stretch cards to fill the container */
  }
  
  .file-source-card {
    flex: 1; /* Flex property to allow cards to grow and shrink */
    margin: 10px; /* Add margin between cards */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: left; /* Align text to the left */
    cursor: pointer;
    background-color: #fff;
    transition: all 0.3s ease;
    display: flex; /* Use flexbox for the card's content */
    flex-direction: column; /* Stack content vertically */
    justify-content: space-between; /* Distribute space between card elements */
  }
  
  .file-source-card:first-child {
    margin-left: 0; /* Remove left margin for the first card */
  }
  
  .file-source-card:last-child {
    margin-right: 0; /* Remove right margin for the last card */
  }
  
  /* Selected state for the card */
  .file-source-card.selected {
    border-color: #007bff; /* Highlight color for selected cards */
    background-color: #e7f3ff; /* Light background color for selected cards */
  }
  
  /* Styles for the title and descriptions */
  .file-source-card h3 {
    font-size: 14px; /* Adjust font size as needed */
    margin: 0 0 10px 0; /* Space between title and description */
  }
  
  .file-source-card p {
    font-size: 12px; /* Adjust font size as needed */
    color: #666;
    margin: 0;
  }

  .catalog-creation{
    margin: 0 10px;
    padding: 20px;
}

.existing-catalogs{
  margin: 10px;
  padding: 20px;
  
}

.catalog-item{
  padding: 20px
}



.div {
  display: flex;
  max-width: 247px;
  flex-direction: column;
  justify-content: center;
  font-size: 14px;
  color: #000;
  font-weight: 700;
}
.div-2 {
  border-radius: 12px;
  border: 1px solid #6921f0;
  box-shadow: 0px 4px 3px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 35px 19px;
}
.div-3 {
  font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.div-4 {
  margin-top: 18px;
  font: 400 12px Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.connected-button {
  font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-top: 24px;
  justify-content: center;
  align-items: center;
  color: #5b5b5b;
  white-space: nowrap;
  padding: 15px 60px;
}
.connected-button:hover {
    font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
      sans-serif;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    background-color: #6921F0;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    color: white;
    white-space: nowrap;
    padding: 15px 60px;
  }

  .layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .layout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .layout-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .catalog-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
  }
  
  .catalog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  .catalog-card-new {
    display: flex;
    flex-direction: column;
    align-items: center;
   
 
    padding: 10px;
   
  }
  
  .card-title {
    margin-bottom: 8px;
    color: #333;
    font-size: 24px
  }
  
  .card-description {
    font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
    margin-bottom: 16px;
    color: #5e5e5e;
    
  }
  .card-description p {
    font-size: 8px;
  }
  .catalog-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .catalog-button-create {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #000000;
    color: white;
  }
  
  .connected {
    background-color: #6921F0;
    color: white;
  }
  
  .catalog-button:not(.connected) {
    background-color: #D9D9D9;
    color: #333;
  }
.table-title{
font-size: 20px;
font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
    sans-serif;
}
.table-title-ds{
  font-size: 20px;
  font-family: Red Hat Display, -apple-system, Roboto, Helvetica,
      sans-serif;
      margin-top: 20px;
      margin-bottom: 20px;
    background-color: #333;
    color: white;
    padding: 20px
    
  }
  